[project]
	description = RubySchool Lesson 28
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/avelytchko
[access "refs/for/refs/*"]
	read = group user/avelytchko
	push = group user/avelytchko
	label-Code-Review = -2..+2 group user/avelytchko
	label-Verified = -1..+1 group user/avelytchko
	rebase = group user/avelytchko
	removeReviewer = group user/avelytchko
	submit = group user/avelytchko
[access "refs/heads/*"]
	read = group user/avelytchko
	create = group user/avelytchko
	push = +force group user/avelytchko
	pushMerge = group user/avelytchko
[access "refs/tags/*"]
	push = group user/avelytchko
	push = +force group user/avelytchko
